body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors {
    display: flex;
    margin-top: 10px;
}

.color-box {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #000;
}

.color-box.custom-color {
    border: 2px dashed black;
}

canvas {
    border: 1px solid #000;
    margin-top: 10px;
}
