body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin-top: 5%;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #e0e0e0; /* Light gray border for the canvas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow to give depth to the canvas */
}

/* The file input field customization */
.file-field .btn {
    background-color: #1976D2; /* Material primary color for the button */
}

.file-field .btn:hover {
    background-color: #1565C0; /* A slightly darker shade for hover effect */
}
